
 @import '~bootstrap/scss/bootstrap';

body{
  margin: 0;
  font-family: Poppins,Battambang,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #0a0b09;
  text-align: left;
  background-color: #f4f4f4;
}
 
.bg-primary{
  background-color: #004876!important;
}